body {
  background-color: rgb(206, 214, 215);
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    margin-left: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  table {
    border-collapse: collapse;
    border: 1px solid rgb(108,175,204);
    width: 75%;
  }
  
  th,
  td {
    text-align: left;
    padding: 5px;
    font-size: 1rem;
  }

  button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(235, 234, 134);
    border-radius: 3px;
    border: 1px solid rgb(214, 211, 53);
  }
  
  th {
    background-color: rgb(108,175,204);
  }
  
  td {
    background-color:  rgb(179, 210, 223);
  }
  
  input {
    margin: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:  rgb(249, 248, 171);
    border: 1px solid rgb(235,232,93);
    border-radius: 3px;
  }

input:focus{
    outline: none;
}

  form * {
    font-size: 1.1rem;
  }